// GENERIC
$main-bg-color                  = #fff
$main-txt-color                 = #555

// Meaningful colors
$unknown-color                  = #495b71
$success-color                  = #2ac256
$warning-color                  = #d1be65
$failure-color                  = #de1500
